body {
  background-color: #F6F6F6;
}
.page-title {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.page-title::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 50px);
  width: 100px;
  height: 2px;
  background-color: black;
}
form {
  margin-right: 0;
}
/* 基本情報登録 */
h4 {
  font-size: 16px;
  margin-top: 40px;
  font-weight: 550;
  margin-bottom: 40px;
}
.basic-info {
  width: 500px;
  margin-left: 20%;
}
/* 掲載情報登録 */
.info-site-title {
  margin-left: 24px;
}
.info-site {
  width: 500px;
  margin-left: 20%;
}
.star-container {
  margin-bottom: 40px;
}
h5 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.star-content {
  margin-bottom: 10px;
}
.star-title {
  padding-top: 10px;
  font-size: 12px;
}
/* 詳細情報 */
.info-details-content {
  margin-bottom: 10px;
}
.info-details-title {
  padding-top: 10px;
  font-size: 12px;
}
.info-details-input {
  width: 360px;
}
.support-container {
  margin-top: 40px;
}
.area-container-title {
  margin-top: 40px;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-bottom: 8px;
}
.area-container {
  margin-bottom: 40px;
}
.area-list-1 {
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 10px;
}
.area-list-1-item {
  border-radius: 10px;
  border: #ddd solid 1px;
  background-color: #fff;
}
.area-list-2 {
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 10px;
}
.area-list-2-item {
  border-radius: 10px;
  border: #ddd solid 1px;
  background-color: #fff;
}
.year-container-title {
  margin-top: 40px;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-bottom: 8px;
}
.year-container {
  margin-bottom: 40px;
}
.year-list {
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 10px;
}
.year-list-item {
  border-radius: 10px;
  border: #ddd solid 1px;
  background-color: #fff;
}
.success-content {
  margin-top: 10px;
}
h6 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
}
.btn-register {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 20%;
  width: 500px;
}
.registerButton {
  margin-left: 40px;
  width: 200px;
}