/* メイン */
main {
  margin-top: -60px;
  width: 100%;
  overflow:hidden;
}
/* footer{
  position: fixed;
  bottom: 0;
  width:100%;
} */

.fas.fa-star{
  color: #ffcc00;
}

@media screen and (max-width:728px){
  main{
    color: #545454;
  }
  .cl-mainvisual{
    margin-top: 60px;
    width: 100%;
    height: 400px;
    background-image: url(../img/success-story.png);
    background-size: cover;
    margin-top: 60px;
    position:relative;
  }
  .cl-mainvisual-contents{
    position: absolute;
    height: 100px;
    background-color: #FAE17E;
    margin:0 4%;
    bottom: 30px;
    text-align: center;
    width: 92%;
    border-radius: 16px;
  }
  .cl-p{
    margin:10px;
    font-size: 10px;
    color: #7A7A7A;
  }
  .cl-h3{
    color: #2E79BA;
    font-size: 14px;
    display: inline;
    margin: 20px 0;
  }
  .clientlist-wrapper{
    padding-bottom: 30px;
  }
  .clientlist{
    background-color: #E7F5FD;
    padding: 15px;
    margin: 20px auto;
    bottom: 30px;
    width: 90%;
    border-radius: 16px;
    border: 1px solid #A7D6FF;
  }
  .clientlist-name{
    margin-bottom: 5px;
  }

  .clientlist-contents{
    display: flex;
    height: 280px;
    width: 100%;
  }
  .list-img{
    width: 70%;
    height: 130px;
    background-size: cover;
  }

  .list-star{
    background-color: white;
    border-radius: 12px;
  }
  .fa-solid{
    display: inline;
    color: #2E79BA;
  }
  .title{
    margin-top: 20px;
  }
  h2{
    text-align: center;
    position: relative;
    color: #545454;
  }
  h2::before{
    content: '';
    position: absolute;
    bottom:-3px;
    width: 190px;
    height: 2px;
    background-color: #2E79BA;
  }

  .list-star-table{
    padding: 20px 2px;
    width: 150px;
  }
  .clientlist-main{
    margin: 20px;
  }
  h3{
    margin-left: 30px;
    margin-top: 20px;
  }
  th{
    font-size: 6px;
  }
  td{
    font-size: 8px;
  }
  table{
    margin: 10px 0px;
  }
  .list-img{
    width: 150px;
  }
  .link-button>button{
    margin: 30px;
  }
  .button{
    width: 140px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    margin: 30px 5px;
    background-color: #2E79BA;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
  }
  .button-p{
    text-decoration: none;
    color: white;

  }
  .button-i{
    color: white;
  }
  a{
    text-decoration: none;
  }
  .list-sub-point{
    height: 120px;
  }



}


@media screen and (min-width:728px){
  *{
    color: #545454;
  }
  .cl-mainvisual{
    margin-top: 60px;
    width: 100%;
    height: 400px;
    background-image: url(../img/success-story.png);
    background-size: cover;
    margin-top: 60px;
    position:relative;
  }
  .cl-mainvisual-contents{
    position: absolute;
    height: 100px;
    background-color: #FAE17E;
    margin:0 10%;
    bottom: 30px;
    text-align: center;
    width: 80%;
    border-radius: 16px;
  }
  .cl-p{
    margin:10px;
    font-size: 12px;
    color: #7A7A7A;
  }
  .cl-h3{
    color: #2E79BA;
    font-size: 18px;
    display: inline;
    margin: 20px 0;
  }
  .clientlist{
    background-color: #E7F5FD;
    padding: 3px;
    border: 1px solid #A7D6FF;
    margin:30px 15%;
    bottom: 30px;
    width: 70%;
    border-radius: 16px;
    height: 380px;
  }

  .clientlist-contents{
    display: flex;
    height: 280px;
    width: 100%;
    justify-content: center;
  }
  .list-img{
    width: 50%;
    height: 100px;
    background-image: url(../img/success-story.png);
    background-size: cover;
  }

  .list-star{
    background-color: white;
    border-radius: 12px;
    text-align: center;

  }
  .fa-solid{
    display: inline;
    color: #2E79BA;
  }
  .title{
    margin-top: 20px;
  }
  h2{
    text-align: center;
    position: relative;
    color: #545454;
  }
  h2::before{
    content: '';
    position: absolute;
    bottom:-3px;
    width: 95px;
    height: 2px;
    background-color: #545454;
  }

  .list-star-table{
    padding: 20px 2px;
    width: 300px;
    height: 15px;

  }
  .clientlist-main{
    margin: 20px;
    width: 50%;
  }
  h3{
    margin-left: 30px;
    margin-top: 20px;
  }
  th{
    font-size: 18px;
  }
  td{
    font-size: 18px;
  }
  table{
    margin: 10px auto;
  }
  .list-img{
    width: 150px;
    margin-left: 10px;
  }
  .link-button>button{
    margin: 30px;
  }
  .button{
    width: 140px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    margin: 30px 5px;
    background-color: #2E79BA;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
  }
  .button-p{
    text-decoration: none;
    color: white;

  }
  .button-i{
    color: white;
  }
  a{
    text-decoration: none;
  }
  .list-sub{
    width: 50%;
  }

  .list-sub-point{
    height: 100px;
  }



}

