/* メイン */
main {
  margin-top: 60px;
  height: 1000px;
  background-color: rgb(255, 255, 255);
}

/* 名前と画像 */
.carrier-ticket{
  font-size: 30px;
  color: rgb(152, 152, 152);
  font-weight: 700;
  text-decoration: underline;
  display: block; 
  height: 100px;
  align-items: center;
  padding: 50px 0px 0px 50px;
}
.carrier-img{
  display: block;
  margin: auto;
  width: 700px;
  padding-bottom: 50px;
}

/* キャリアチケットの特徴 */
.carrier-ticket-feature-background{
  background-color: rgb(255, 202, 123);
  padding-top: 20px;
  height: 300px;
}
.feature-background{
  background-color: white;
  display: block;
  width: 500px;
  height: 200px;
  margin-right: 50%;
  margin:0 auto;
  text-align: center;
  
}

.carrier-ticket-feature{
  color: rgb(36, 120, 255);
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  padding: 15px;
}

.features{
  color: rgb(130, 130, 130);
  font-family:  Tsukushi A Round Gothic;
  font-weight: 900;
  font-size: 20px;
  padding-top: 40px;
  text-align: left;
}

.feature{
  list-style: none;
  margin-left: 0;
}




/* 詳細情報 */

.all-detail-info{
  background-color: rgb(255, 247, 222);
  font-family: Osaka;
  font-weight: 50;
  font-size: 12px;
  margin:0 auto;
  text-align: center;
  width: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 40px;
  border-radius: 15px;
}

.detail-info{
  background-color: rgb(255, 216, 97);
  z-index:100 ;
  
}
.each-info{
  padding :5px;
}


/* キャリアチケットの説明 */

.ticket-explain{
  background-color: rgb(203, 245, 255);
  width: 600px;
  color: rgb(91, 91, 91);
  font-family: 游ゴシック体;
  margin:0 auto;
  text-align: center;
  padding: 50px;
  font-weight: 900;
  border-radius: 10px;
  margin-bottom: 100px;
}


/* サクセスストーリー */

.success-story-container{
  background-color: rgb(160, 217, 255);
  height: 600px;
}


.all-success-story{
  height: 500px;
  background-color: white;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}


.success-story-img-around{
  position: relative;
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.success-story-name{
  background-color: white;
  z-index: 100;
  color: rgb(0, 106, 255);
  margin-top: 100px;
}



.success-story-img{
  width: 600px;
}

.achive{
  background-color: rgb(255, 193, 50);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-family: Toppan Bunkyu Gothic;
  font-weight: 900;
}

.comment{
  color: rgb(43, 146, 255);
  font-family: Toppan Bunkyu Gothic;
  font-weight: 900;  
  background-color: white;
  width: 500px;

}

.self-introduce{
  background-color: white;
  font-family: Toppan Bunkyu Gothic;
  font-weight: 900;  
  width: 500px;
}

.story-detail{
  backg
  font-family: 游ゴシック体;
  width: 500px;
  font-family: Toppan Bunkyu Gothic;
  font-weight: 900;  
}

/* リンク */

.access{
  background-color: rgb(47, 89, 255);
  color: white;
}
.official-site{
  background-color: rgb(63, 130, 255);
  color: white;
}