body {
  position: relative;
}
/* メイン */
main {
  margin-top: 60px;
}
/* ヒーロー */
.toppage-hero {
  width: 100%;
  height: 640px;
  background-color: rgb(2, 255, 154);
  position: relative;
}
.toppage-hero-comment h2 {
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 140px;
  right: 60px;
  font-size: 2.5em;
  transform: rotate(-15deg);
}
/* エージェントを探すボタン */
.btn-search-for-agent {
  height: 140px;
}
.btn-search-for-agent button {
  width: 40%;
  height: 60px;
  margin-left: 30%;
  border: 0;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #FAE17E;
  color: #2E79BA;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.btn-search-for-agent button i {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
}
/* 申し込みするための３ステップ */
.step-explanation-contents h3 {
  font-size: 32px;
  text-align: center;
  color: #FBA82C;
  margin-top: 100px;
}
.step-explanation-contents p {
  font-size: 16px;
  text-align: center;
  color: #7a7a7a;
  margin-top: 20px;
}
.step-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}
.step {
  height: 460px;
  width: 360px;
  background-color: #FCC066;
  border-radius: 15px;
}
/* エージェント一覧ページボタン */
.btn-agent-list {
  height: 140px;
}
.btn-agent-list button {
  width: 40%;
  height: 60px;
  margin-left: 30%;
  border: 0;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #FCC066;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.btn-agent-list button i {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
}
/* 利用者の声 */
.user-voice-contents {
  height: 780px;
  background-color: #FEEDC3;
}
.user-voice-contents h3 {
  font-size: 32px;
  text-align: center;
  color: #2E79BA;
  padding-top: 60px;
}
.swiper {
  height: 600px;
  background-color: #FEEDC3;
}
.swiper-wrapper {
  height: 600px;
}
.swiper-slide {
  height: 600px;
  width: 80%;
  background-color: #FEEDC3;
}
.user-1-contents {
  width: 60%;
  height: 500px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #fff;
}
.user-2-contents {
  width: 60%;
  height: 500px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #fff;
}
.user-3-contents {
  width: 60%;
  height: 500px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #fff;
}
.swiper-button-prev {
  margin-left: 40px;
}
.swiper-button-next {
  margin-right: 40px;
}
/* よくあるご質問 */
.common-question-contents {
  height: 1000px;
}
.common-question-contents h3 {
  font-size: 32px;
  text-align: center;
  color: #81766E;
  padding-top: 60px;
}
.question-title {
  width: 60%;
  margin-top: 60px;
  margin-left: 20%;
  background-color: #E2DFDD;
  position: relative;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
.question-title i {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
  color: #81766E;
}
.question-icon {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 20px;
  left: 20px;
  color: #FBA82C;
  user-select: none;
}
.question-contents {
  font-size: 16px;
  line-height: 60px;
  color: #81766E;
  margin-left: 80px;
  margin-bottom: 0;
  user-select: none;
}
.question-answer {
  width: 60%;
  margin-top: 0;
  margin-left: 20%;
  background-color: #E2DFDD;
  position: relative;
  border-radius: 0 0 5px 5px;
  /* クリック前 */
  display: none;
}
.question-title.active {
  /* クリック後 */
  border-radius: 5px 5px 0 0;
}
.question-title.active i {
  /* クリック後 */
  transform: rotate(180deg);
}
.question-answer.active {
  /* クリック後 */
  display: block;
}
.answer-icon {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 20px;
  left: 20px;
  color: #F26A1F;
}
.answer-contents {
  font-size: 16px;
  line-height: 1.4;
  color: #81766E;
  margin-top: 0;
  margin-left: 80px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
/* ポップ(モーダル) */
/* ポップ(1ページ目) */
.pop-1 {
  display: none;
  position: absolute;
  inset: -60px 0 0 0;
}
.pop-1::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  inset: 0;
  z-index: 100;
}
.pop-area-1 {
  position: fixed;
  top: calc(50% - 250px);
  left: 20%;
  width: 60%;
  height: 500px;
  border-radius: 10px;
  background-color: #FAE17E;
  z-index: 200;
}
.pop-1-number {
  font-size: 16px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #FF0C0C;
}
.pop-1-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  color: #2E79BA;
}
.pop-1-img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
.pop-1-img img {
  height: 200px;
  width: 200px;
  margin-left: calc(50% - 100px);

}
.pop-1-content {
  width: 60%;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  margin-left: calc(20% - 40px);
  border-radius: 10px;
}
.pop-1-content span {
  color: #FF0C0C;
  font-weight: 600;
}
.pop-1-btn {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 20px;
  gap: 20px;
  justify-content: center;
}
.pop-1-btn button {
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.pop-1-skip-btn button {
  width: 180px;
  background-color: #7b7b7b;
  color: #fff;
}
.pop-1-btn button i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.pop-1-next-btn button {
  width: 100px;
  background-color: #2E79BA;
  color: #fff;
}
/* ポップ(2ページ目) */
.pop-2 {
  display: none;
  position: absolute;
  inset: -60px 0 0 0;
}
.pop-2::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  inset: 0;
  z-index: 100;
}
.pop-area-2 {
  position: fixed;
  top: calc(50% - 250px);
  left: 20%;
  width: 60%;
  height: 500px;
  border-radius: 10px;
  background-color: #FAE17E;
  z-index: 200;
}
.pop-2-number {
  font-size: 16px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #FF0C0C;
}
.pop-2-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  color: #2E79BA;
}
.pop-2-img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
.pop-2-img img {
  height: 200px;
  width: 200px;
  margin-left: calc(50% - 100px);

}
.pop-2-content {
  width: 60%;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  margin-left: calc(20% - 40px);
  border-radius: 10px;
}
.pop-2-content span {
  color: #FF0C0C;
  font-weight: 600;
}
.pop-2-btn {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 20px;
  gap: 20px;
  justify-content: center;
}
.pop-2-btn button {
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.pop-2-skip-btn button {
  width: 180px;
  background-color: #7b7b7b;
  color: #fff;
}
.pop-2-btn button i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.pop-2-next-btn button {
  width: 100px;
  background-color: #2E79BA;
  color: #fff;
}
/* ポップ(3ページ目) */
.pop-3 {
  display: none;
  position: absolute;
  inset: -60px 0 0 0;
}
.pop-3::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  inset: 0;
  z-index: 100;
}
.pop-area-3 {
  position: fixed;
  top: calc(50% - 250px);
  left: 20%;
  width: 60%;
  height: 500px;
  border-radius: 10px;
  background-color: #FAE17E;
  z-index: 200;
}
.pop-3-number {
  font-size: 16px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #FF0C0C;
}
.pop-3-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  color: #2E79BA;
}
.pop-3-img {
  width: 100%;
  height: 250px;
  margin-top: 20px;
}
.pop-3-img img {
  height: auto;
  width: 400px;
  margin-left: calc(50% - 200px);
  border-radius: 5px;

}
.pop-3-content {
  width: 60%;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  margin-left: calc(20% - 40px);
  border-radius: 10px;
}
.pop-3-content span {
  color: #FF0C0C;
  font-weight: 600;
}
.pop-3-btn {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.pop-3-btn button {
  margin-left: calc(50% - 120px);
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  position: relative;
  width: 240px;
  background-color: #2E79BA;
  color: #fff;
}
.pop-3-btn button i {
  position: absolute;
  top: 10px;
  right: 10px;
}