/* メイン */
main {
  margin-top: 60px;
}
/* ヒーロー */
.toppage-hero {
  width: 100%;
  height: 640px;
  background-color: rgb(2, 255, 154);
  position: relative;
}
.toppage-hero-comment h2 {
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 140px;
  right: 60px;
  font-size: 2.5em;
  transform: rotate(-15deg);
}
/* エージェントを探すボタン */
.btn-search-for-agent {
  height: 140px;
}
.btn-search-for-agent button {
  width: 40%;
  height: 60px;
  margin-left: 30%;
  border: 0;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #FAE17E;
  color: #2E79BA;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.btn-search-for-agent button i {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
}
/* 申し込みするための３ステップ */
.step-explanation-contents h3 {
  font-size: 32px;
  text-align: center;
  color: #FBA82C;
  margin-top: 100px;
}
.step-explanation-contents p {
  font-size: 16px;
  text-align: center;
  color: #7a7a7a;
  margin-top: 20px;
}
.step-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}
.step {
  height: 460px;
  width: 360px;
  background-color: #FCC066;
  border-radius: 15px;
}
/* エージェント一覧ページボタン */
.btn-agent-list {
  height: 140px;
}
.btn-agent-list button {
  width: 40%;
  height: 60px;
  margin-left: 30%;
  border: 0;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #FCC066;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.btn-agent-list button i {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
}
/* 利用者の声 */
.user-voice-contents {
  height: 780px;
  background-color: #FEEDC3;
}
.user-voice-contents h3 {
  font-size: 32px;
  text-align: center;
  color: #2E79BA;
  padding-top: 60px;
}
.swiper {
  height: 600px;
  background-color: #FEEDC3;
}
.swiper-wrapper {
  height: 600px;
}
.swiper-slide {
  height: 600px;
  width: 80%;
  background-color: #FEEDC3;
}
.user-1-contents {
  width: 60%;
  height: 500px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #fff;
}
.user-2-contents {
  width: 60%;
  height: 500px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #fff;
}
.user-3-contents {
  width: 60%;
  height: 500px;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #fff;
}
.swiper-button-prev {
  margin-left: 40px;
}
.swiper-button-next {
  margin-right: 40px;
}
/* よくあるご質問 */
.common-question-contents {
  height: 1000px;
}
.common-question-contents h3 {
  font-size: 32px;
  text-align: center;
  color: #81766E;
  padding-top: 60px;
}
.question-title {
  width: 60%;
  margin-top: 60px;
  margin-left: 20%;
  background-color: #E2DFDD;
  position: relative;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
}
.question-title i {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
  color: #81766E;
}
.question-icon {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 20px;
  left: 20px;
  color: #FBA82C;
}
.question-contents {
  font-size: 16px;
  line-height: 60px;
  color: #81766E;
  margin-left: 80px;
  margin-bottom: 0;
}
.question-answer {
  width: 60%;
  margin-top: 0;
  margin-left: 20%;
  background-color: #E2DFDD;
  position: relative;
  border-radius: 5px;
  /* クリック前 */
  display: none;
}
.answer-icon {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 20px;
  left: 20px;
  color: #F26A1F;
}
.answer-contents {
  font-size: 16px;
  line-height: 1.4;
  color: #81766E;
  margin-top: 0;
  margin-left: 80px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
