/* ページタイトル */
.page-title {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.page-title::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
  width: 80px;
  height: 2px;
  background-color: black;
}
/* テーブル */
.student-info-container {
  width: 840px;
  margin-left: 10%;
  margin-bottom: 40px;
}
.student-info-container h3 {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 15px;
}
.student-info-table-title {
  background-color: #DEECEF;
}
.student-details-btn {
  font-size: 12px;
}